<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gmail PPT Processor</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- <script src="https://unpkg.com/lucide@latest"></script> -->
    <script src="{{ url_for('static', filename='js/fontLoader.js') }}"></script>
    <script>
      const fontFiles = {{ font_files | safe }};
      const fontFolder = "{{ url_for('static', filename='font/Proxima Nova Complete Collection') }}";
      loadFonts(fontFiles, fontFolder);
    </script>
  </head>
  <body class="bg-[var(--bg-color)]">
    <div
      class="h-[80px] bg-[var(--sec-bg-color)] flex flex-row border-b border-[var(--border-color)]"
    >
      <div
        class="w-[250px] border-r border-[var(--border-color)] flex flex-row items-center"
        style="padding-left: 30px"
      >
        <img src="/static/img/logo.svg" class="w-[150px]" />
      </div>
    </div>
    <div class="flex flex-row">
      {% set nav_items = [ { "name": "Home", "link": "/", "icon": "house" }, {
      "name": "PPT Files", "link": "/ppt_files", "icon": "presentation" } ] %}
      {% include 'components/navbar.html' %}
      <div class="h-[95vh] w-full">{% block content %}{% endblock %}</div>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
